# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# SQLite database
db.sqlite3

# Django migrations
**/migrations/
!**/migrations/__init__.py

# VS Code settings
.vscode/

# Python environment
env/
venv/
ENV/
.venv/
.env

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Logs
*.log
